@import url('https://fonts.googleapis.com/css?family=Overpass&display=swap');

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Overpass', sans-serif;
}

row {
    display: flex;
    align-items: center;
}

column {
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
}

margin {
    display: block;
}

appBar {
    display: block;
    width: 100%;
    height: 60px;
    background-color: #fff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 100;
}

.show_row {
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
    color: #707070;
    margin-right: 5px;
}

.test {
    width: 100px;
    height: 100px;
    background-color: #f33;
}

